body {
    background-image: url(https://i.pinimg.com/originals/12/25/8a/12258aa80d5bbe28120b77537dcf8668.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.title {
    color:rgb(255, 255, 255);
    font-family: 'Titan One', cursive;
    text-align: center;
    font-size: 50px;
    padding:0;
    margin:0;
    position:relative;
    bottom: -10px;
}

.header {
    color:rgb(153, 117, 51);
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    font-size: 60px;
    position: relative;
    top: -60px;
    
}

/* .row {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    overflow: hidden;
}

.column {
    flex: 33.33%;
    padding: 0px;
} */

.recipes {
    text-align: center;
    color: sienna;
    font-family: 'Titan One', cursive;
    font-size: 25px;
    position: relative;
    top: -40px;
}

.kid {
    display: inline-block;
    border: 4px dotted sienna;
    border-radius: 40px;
    padding: 5px 30px 5px 30px;
}

a:link {
    text-decoration: none;
    color:beige;
}
  
a:visited {
    text-decoration: none;
    color: beige;
 }
  
a:hover {
    text-decoration: none;
    color: lightblue;
}
  
a:active {
    text-decoration: none;
}